<section id="wedding-event" class="wrapper position-relative bg-secondary-2">
  <div class="container  position-relative z-2">
    <div class="row mb-5">
      <div class="col-12 position-relative text-center z-2">
        <h2 class="font-alt fs-1 mb-3">Sư kiện đám cưới</h2>
        <p class="fs-5 mb-4 text-body-secondary">Nếu bạn chỉ có một nụ cười, hãy dành nó cho những người bạn yêu thương.</p>
        <span [ngStyle]="dividerStyle" class="divider divider-arrow"></span>
      </div>
      <!-- //.col-12 -->
    </div>
    <!-- //.row -->

    <div class="row gx-lg-5 justify-content-center">
      <div class="col-12 col-sm-10 col-md-8 col-lg-6 col-xl-4 mb-5 mb-xl-0">
        <div class="position-relative event-wrapper">
          <div class="d-flex flex-column h-100 justify-content-between position-absolute start-0 text-center top-0 w-100">
            <div class="mt-5 px-4">
              <h3 class="font-alt">Lễ dạm ngõ</h3>
              <span class="divider divider-heart mb-3 mb-sm-4"></span>
              <p class="mb-1 text-body-secondary">Thứ 7, ngày 02 tháng 10 năm 2024</p>
              <p class="text-body-secondary">09:00 - 13:00</p>
              <p class="mb-1 text-body-secondary">ĐC: 66/21 Đường 14/9</p>
              <p class="mb-sm-4 text-body-secondary">Phường 5, Tp. Vĩnh Long</p>
              <span class="divider divider-floral d-none d-sm-block"></span>
            </div>
          </div>
          <!-- //.d-flex -->

          <!-- SVG Image -->
          <img src="browser/assets/params/images/accessory/shape-rect-wedding-event-1.svg" alt="" class="img-fluid">
        </div>
        <!-- //.position-relative -->
      </div>
      <!-- //.col-12 -->

      <div class="col-12 col-sm-10 col-md-8 col-lg-6 col-xl-4 mb-5 mb-xl-0 mt-xl-5">
        <div class="position-relative event-wrapper">
          <div class="d-flex flex-column h-100 justify-content-between position-absolute start-0 text-center top-0 w-100">
            <div class="mt-5 px-4">
              <h3 class="font-alt">Lễ Vu Quy</h3>
              <span class="divider divider-heart mb-3 mb-sm-4"></span>
              <p class="mb-1 text-body-secondary">Thứ 2, ngày 16 tháng 12 năm 2024</p>
              <p class="text-body-secondary">08:00 - 10:00</p>
              <p class="mb-1 text-body-secondary">ĐC: 66/21 Đường 14/9</p>
              <p class="mb-sm-4 text-body-secondary">Phường 5, Tp. Vĩnh Long</p>
              <span class="divider divider-floral d-none d-sm-block"></span>
              <h5>Tiệc nhà hàng</h5>
              <p class="text-body-secondary">11:00</p>
              <p class="text-body-secondary">Nhà hàng ĐỨC PHÁT HOÀNG GIA</p>
              <p class="mb-1 text-body-secondary">ĐC: 68/8D, Đường Phạm Thái Bường</p>
              <p class="mb-sm-4 text-body-secondary">Phường 4, Tp. Vĩnh Long</p>
            </div>
          </div>
          <!-- //.d-flex -->

          <!-- SVG Image -->
          <img src="browser/assets/params/images/accessory/shape-rect-wedding-event-2.svg" alt="" class="img-fluid">
        </div>
        <!-- //.position-relative -->
      </div>
      <!-- //.col-12 -->

      <div class="col-12 col-sm-10 col-md-8 col-lg-6 col-xl-4">
        <div class="position-relative event-wrapper">
          <div class="d-flex flex-column h-100 justify-content-between position-absolute start-0 text-center top-0 w-100">
            <div class="mt-5 px-4">
              <h3 class="font-alt">Lễ Thành Hôn</h3>
              <span class="divider divider-heart mb-3 mb-sm-4"></span>
              <p class="mb-1 text-body-secondary">Thứ 7, ngày 21 tháng 12 năm 2024</p>
              <p class="text-body-secondary">10:00 - 12:00</p>
              <p class="mb-1 text-body-secondary">ĐC: 195/2 Hương Lộ 45</p>
              <p class="mb-sm-4 text-body-secondary">Diên Phú, Diên Khánh, Khánh Hòa</p>
              <span class="divider divider-floral d-none d-sm-block"></span>
              <h5>Tiệc nhà hàng</h5>
              <p class="text-body-secondary">17:30</p>
              <p class="text-body-secondary">Nhà hàng PHÚC THỊNH AN (Sảnh Hạnh Phúc)</p>
              <p class="mb-1 text-body-secondary">Cây số 9, Đường 23/10</p>
              <p class="mb-sm-4 text-body-secondary">Diên An, Diên Khánh, Khánh Hòa</p>
            </div>
          </div>
          <!-- //.d-flex -->

          <!-- SVG Image -->
          <img src="browser/assets/params/images/accessory/shape-rect-wedding-event-1.svg" alt="" class="img-fluid">
        </div>
        <!-- //.position-relative -->
      </div>
      <!-- //.col-12 -->
    </div>
    <!-- //.row -->
  </div>
  <!-- //.container -->

  <!-- SVG Image -->
  <img src="browser/assets/params/images/accessory/shape-rect-middle-left.svg" alt="" class="shape-events shape-rect shape-rect-lg d-none d-lg-block position-absolute start-0 translate-middle z-1">
</section>
