<div class="row gallery-wrapper">
  <!-- <img alt="" class="col-md-3 object-fit-cover" src="assets/params/images/wedding/phuctram-bg-white-red-1.jpeg">
  <img alt="" class="col-md-3 object-fit-cover" src="assets/params/images/wedding/phuctram-bg-white-red-2.jpeg">
  <img alt="" class="col-md-3 object-fit-cover" src="assets/params/images/wedding/phuctram-bg-white-red-3.jpeg">
  <img alt="" class="col-md-3 object-fit-cover" src="assets/params/images/wedding/phuctram-bg-normal-1.jpeg">
  <img alt="" class="col-md-3 object-fit-cover" src="assets/params/images/wedding/phuctram-bg-normal-2.jpeg">
  <img alt="" class="col-md-3 object-fit-cover" src="assets/params/images/wedding/phuctram-bg-white-normal.jpeg">
  <img alt="" class="col-md-3 object-fit-cover" src="assets/params/images/wedding/phuctram-bg-white-normal.jpeg">
  <img alt="" class="col-md-3 object-fit-cover" src="assets/params/images/wedding/phuctram-bg-white-normal.jpeg"> -->

  @for (item of data; track $index) {
    <img alt="" class="col-md-3 object-fit-cover" [src]="item.imgUrl">
  }
</div>
