.gallery-wrapper {
  padding: 80px 20px 100px 20px;
  gap: 20px 10px;
  margin: auto;
  background-color: #101010;
  justify-content: center;
}

.img {
  height: 450px;
  padding: 0;
  background-size: cover;
  // margin: 0 5px;
  width: 24%;
}

.gallery-title {
  font-family: 'Dantina', sans-serif;
  font-size: 16px;
  text-align: center;
  color: #fff;
  margin-bottom: 30px;
}

@media (min-width: 951px) and (max-width: 1200px)  {
  .img {
    width: 24%;
    height: 400px;
  }
}

@media (min-width: 700px) and (max-width: 950px)  {
  .img {
    width: 47%;
    height: 480px;
  }
}

@media (min-width: 560px) and (max-width: 700px)  {
  .img {
    width: 47%;
    height: 400px;
  }
}

@media (min-width: 468px) and (max-width: 560px)  {
  .img {
    width: 47%;
    height: 350px;
  }
}

@media (min-width: 200px) and (max-width: 468px)  {
  .img {
    width: 47%;
    height: 300px;
  }
}

