<section class="about section-padding bg-green">
  <div class="container">
    <div class="row">
      <div class="col-md-5 animate-box fadeInUp animated" data-animate-effect="fadeInUp">
        <div class="section-title white">A wedding that is <span class="white">True</span> as you are!</div>
        <p>Không quan trọng nơi chúng ta đến, thời điểm chúng ta gặp, miễn là chân trời nơi đó tràn ngập tình yêu chúng ta, mãi mãi bền vững như ngày đầu gặp gỡ. Tình yêu là một cuộc phiêu lưu, và đích đến không phải chỉ là hôn nhân.</p>
      </div>
      <div class="col-md-6 offset-md-1 mt-30 animate-box fadeInUp animated" data-animate-effect="fadeInUp">
        <p>Tình cảm không cần phải lớn lao để cả thế giới biết, chỉ cần thầm thì với người mà ta yêu, và quan trọng nhất là cùng nhau đến hết con đường, bên nhau, nắm tay, cảm nhận những xúc cảm lẫn nhau. Chỉ cần thế thôi là đủ!</p>
        <p>Giờ đây, niềm tin trọn vẹn và tình yêu của chúng ta đã đủ lớn, ngày hôm nay là bước quan trọng tiếp theo của chặng đường tình yêu.</p>
      </div>
    </div>
  </div>
</section>
