.section-padding {
  padding: 120px 40px;
}

.bg-green {
  background-color: #8ca08b;
}

.section-subtitle {
  font-size: 12px;
  font-family: 'Didact Gothic', sans-serif;
  font-weight: 400;
  color: #fff;
  text-transform: uppercase;
  position: relative;
  letter-spacing: 3px;
  margin-bottom: 0;
}

.section-title {
  font-size: 36px;
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  color: #fff;
  position: relative;
  margin-bottom: 30px;
  line-height: 1.25em;
}

.section-title span {
  color: #fff;
  font-family: 'Dantina', sans-serif;
  letter-spacing: 0;
}

p {
  color: #fff;
  font-family: sans-serif;
}
