<section class="about section-padding bg-green">
  <div class="container">
    <div class="row">
      <div class="col-md-5 animate-box fadeInUp animated" data-animate-effect="fadeInUp">
        <div class="section-subtitle white">What we do</div>
        <div class="section-title white">A wedding that is <span class="white">True</span> as you are!</div>
        <p>We would love to meet up and chat about how we can make your dream wedding happen! Nullam vestibulum iaculis maximus. International facilisis leo at ac tristique nunc vulputate.</p>
      </div>
      <div class="col-md-6 offset-md-1 mt-30 animate-box fadeInUp animated" data-animate-effect="fadeInUp">
        <p>Nullam vestibulum iaculis maximus. In facilisis leo at leo convallis, ac tristique nunc vulputate. Maecenas volutpat molestie purus eu tempus. Mauris daisen aliquet augue, id aliquam enim faucibus aucton.</p>
        <p>Maecenas volutpat molestie purus eu tempus. Mauris dapibus aliquet augue, id aliquam enim faucibus auctor. Vestibulum eget dui quis tortor mollis tempor quis non turpis. Donec eget semper neque. In aliquam tristique consectetur. Etiam venenatis lobortis neque, eget sollicitudin erat venenatis sit amet. In interdum odio at nunc pulvinar viverra rutrum id est.</p>
      </div>
    </div>
  </div>
</section>
