<div>
    @for (slide of slideData; track slide; let  i = $index) {
      @if (activeSlideIndex() === i) {
        <div class="owl-item cloned">
          <div [ngClass]="{'active': activeSlideIndex() === i}" class="item bg-img" [ngStyle]="slide.style">
          </div>
        </div>
      }
    }

  <div class="owl-nav">
    <button (click)="prev()" type="button" class="owl-prev">
      <i class="fa-solid fa-chevron-left"></i>
    </button>
    <button (click)="next()" type="button" class="owl-next">
      <i class="fa-solid fa-chevron-right"></i>
    </button>
  </div>
  <div class="name">
    <div class="bride-groom-name">Dình Phúc & Thu Trâm</div>
    <div class="date">21.12.2024</div>
  </div>
</div>
