<div class="row dairy-wrapper justify-content-center">
  <div class="title">Hãy cùng chúng tôi lưu lại những khoảnh khắc</div>
  <div class="col-md-5 img-wrapper">
    <img alt="" class="img-main object-fit-cover" src="browser/assets/params/images/dairy/phuctram-dairy-8.jpg">
  <div class="img-title">I Love you more than i can say</div>
  </div>
  <div class="col-md-1 img-wrapper img-hidden">
    <img alt="" class="img-main object-fit-cover" src="browser/assets/params/images/dairy/phuctram-dairy-26.jpg">
    <div class="img-title">I Love you</div>
  </div>
  <div class="col-md-5 img-wrapper">
    <img alt="" class="img-main object-fit-cover" src="browser/assets/params/images/dairy/phuctram-dairy-9.jpg">
    <div class="img-title">Be Happy</div>
  </div>
<!--  <div class="col-md-3 img-wrapper">-->
<!--    <img alt="" class="img-main object-fit-cover" src="browser/assets/params/images/dairy/phuctram-dairy-24.jpg">-->
<!--    <div class="img-title">I Love you</div>-->
<!--  </div>-->
  <div class="col-md-4 img-wrapper">
    <img alt="" class="img-main object-fit-cover" src="browser/assets/params/images/dairy/phuctram-dairy-3.jpg">
    <div class="img-title">New journey</div>
  </div>
  <div class="col-md-3 img-wrapper">
    <img alt="" class="img-main object-fit-cover" src="browser/assets/params/images/dairy/phuctram-dairy-26.jpg">
    <div class="img-title">I Love you</div>
  </div>
  <div class="col-md-4 img-wrapper">
    <img alt="" class="img-main col-md-3 object-fit-cover" src="browser/assets/params/images/dairy/phuctram-dairy-22.jpg">
    <div class="img-title">Be Happy</div>
  </div>
  <div class="col-md-4 img-wrapper">
    <img alt="" class="img-main object-fit-cover" src="browser/assets/params/images/dairy/phuctram-dairy-21.jpg">
    <div class="img-title">Let's capture the moments together</div>
  </div>
  <div class="col-md-4 img-wrapper">
    <img alt="" class="img-main object-fit-cover" src="browser/assets/params/images/dairy/phuctram-dairy-20.jpg">
    <div class="img-title">Let's capture the moments together</div>
  </div>
  <div class="col-md-4 img-wrapper">
    <img alt="" class="img-main object-fit-cover" src="browser/assets/params/images/dairy/phuctram-dairy-18.jpg">
    <div class="img-title">Let's capture the moments together</div>
  </div>
<!--  <img alt="" class="col-md-3 object-fit-cover" src="browser/assets/params/images/dairy/phuctram-dairy-18.jpg">-->
<!--  <img alt="" class="col-md-3 object-fit-cover" src="browser/assets/params/images/dairy/phuctram-dairy-17.jpg">-->
<!--  <img alt="" class="col-md-3 object-fit-cover" src="browser/assets/params/images/dairy/phuctram-dairy-16.jpg">-->
<!--  <img alt="" class="col-md-3 object-fit-cover" src="browser/assets/params/images/dairy/phuctram-dairy-15.jpg">-->
<!--  <img alt="" class="col-md-3 object-fit-cover" src="browser/assets/params/images/dairy/phuctram-dairy-14.jpg">-->
<!--  <img alt="" class="col-md-3 object-fit-cover" src="browser/assets/params/images/dairy/phuctram-dairy-13.jpg">-->
<!--  <img alt="" class="col-md-3 object-fit-cover" src="browser/assets/params/images/dairy/phuctram-dairy-12.jpg">-->
<!--  <img alt="" class="col-md-3 object-fit-cover" src="browser/assets/params/images/dairy/phuctram-dairy-11.jpg">-->
<!--  <img alt="" class="col-md-3 object-fit-cover" src="browser/assets/params/images/dairy/phuctram-dairy-10.jpg">-->
<!--  <img alt="" class="col-md-3 object-fit-cover" src="browser/assets/params/images/dairy/phuctram-dairy-9.jpg">-->
<!--  <img alt="" class="col-md-3 object-fit-cover" src="browser/assets/params/images/dairy/phuctram-dairy-8.jpg">-->
<!--  <img alt="" class="col-md-3 object-fit-cover" src="browser/assets/params/images/dairy/phuctram-dairy-7.jpg">-->
<!--  <img alt="" class="col-md-3 object-fit-cover" src="browser/assets/params/images/dairy/phuctram-dairy-6.jpg">-->
<!--  <img alt="" class="col-md-3 object-fit-cover" src="browser/assets/params/images/dairy/phuctram-dairy-5.jpg">-->
<!--  <img alt="" class="col-md-3 object-fit-cover" src="browser/assets/params/images/dairy/phuctram-dairy-4.jpg">-->
<!--  <img alt="" class="col-md-3 object-fit-cover" src="browser/assets/params/images/dairy/phuctram-dairy-3.jpg">-->
<!--  <img alt="" class="col-md-3 object-fit-cover" src="browser/assets/params/images/dairy/phuctram-dairy-2.jpg">-->
<!--  <img alt="" class="col-md-3 object-fit-cover" src="browser/assets/params/images/dairy/phuctram-dairy-1.jpg">-->
</div>
