<div class="row dairy-wrapper justify-content-center">
  <div class="title">Hãy cùng chúng tôi lưu lại những khoảnh khắc</div>
  <div class="col-md-4 img-wrapper">
    <img alt="" class="img-main object-fit-cover" src="/assets/params/images/dairy/phuctram-dairy-15.jpg">
    <div class="img-title">21.04.2023</div>
  </div>
  <div class="col-md-3 img-wrapper">
    <img alt="" class="img-main object-fit-cover" src="/assets/params/images/dairy/phuctram-dairy-26.jpg">
    <div class="img-title">07.05.2023</div>
  </div>
  <div class="col-md-4 img-wrapper">
    <img alt="" class="img-main col-md-3 object-fit-cover" src="/assets/params/images/dairy/phuctram-dairy-23.jpg">
    <div class="img-title">05.06.2023</div>
  </div>
<div class="col-md-3 img-wrapper">
  <img alt="" class="img-main object-fit-cover" src="/assets/params/images/dairy/phuctram-dairy-10.jpg">
  <div class="img-title">12.10.2023</div>
</div>
<div class="col-md-3 img-wrapper">
  <img alt="" class="img-main object-fit-cover" src="/assets/params/images/dairy/phuctram-dairy-19.jpg">
  <div class="img-title">22.11.2023</div>
</div>
<div class="col-md-3 img-wrapper">
  <img alt="" class="img-main object-fit-cover" src="/assets/params/images/dairy/phuctram-dairy-21.jpg">
  <div class="img-title">30.12.2023</div>
</div>
<div class="col-md-3 img-wrapper">
  <img alt="" class="img-main object-fit-cover" src="/assets/params/images/dairy/phuctram-dairy-20.jpg">
  <div class="img-title">13.01.2023</div>
</div>
<div class="col-md-4 img-wrapper">
  <img alt="" class="img-main object-fit-cover" src="/assets/params/images/dairy/phuctram-dairy-18.jpg">
  <div class="img-title">18.03.2024</div>
</div>
<div class="col-md-4 img-wrapper">
  <img alt="" class="img-main object-fit-cover" src="/assets/params/images/dairy/phuctram-dairy-14.jpg">
  <div class="img-title">20.03.2024</div>
</div>
<div class="col-md-4 img-wrapper">
  <img alt="" class="img-main object-fit-cover" src="/assets/params/images/dairy/phuctram-dairy-8.jpg">
  <div class="img-title">25.05.2024</div>
</div>
<div class="col-md-4 img-wrapper">
  <img alt="" class="img-main object-fit-cover" src="/assets/params/images/dairy/phuctram-dairy-9.jpg">
  <div class="img-title">25.05.2024</div>
</div>
  <div class="col-md-3 img-wrapper">
    <img alt="" class="img-main object-fit-cover" src="/assets/params/images/dairy/phuctram-dairy-3.jpg">
    <div class="img-title">15.06.2024</div>
  </div>
  <div class="col-md-4 img-wrapper">
    <img alt="" class="img-main object-fit-cover" src="/assets/params/images/dairy/phuctram-dairy-1.jpg">
    <div class="img-title">15.08.2024</div>
  </div>
</div>
