<section class="couple-section" id="the-couple">
  <div class="container position-relative z-2">
    <div class="row mb-5 pb-lg-5">
      <div class="col-12 position-relative text-center z-2">
        <h2 class="font-alt fs-1 mb-3">The Happy Couple</h2>
        <p class="fs-5 pt-4 mt-4 mb-4 heart">&hearts; &hearts;	&hearts; &hearts; &hearts; &hearts;</p>
        <span [ngStyle]="dividerStyle" class="divider divider-arrow"></span>
      </div>
      <!-- //.col-12 -->
    </div>
    <!-- //.row -->

    <div class="row align-items-center gx-xl-5 justify-content-center">
      <div class="col-10 col-md-8 col-lg-5 col-xl-3 mb-5 mb-xl-0 text-center">
        <h3 class="font-alt mb-4">Dình Phúc</h3>
        <p class="text-body-secondary pt-4 mt-4">Chào em, rất vui khi được dành phần đời còn lại bên em.</p>
      </div>
      <!-- //.col-10 -->

      <div class="col-10 col-md-8 col-xl-6 mb-5 mb-xl-0">
        <div class="position-relative z-2">
          <svg width="100%" height="100%" viewBox="0 0 624 456" xmlns="http://www.w3.org/2000/svg" class="position-relative z-2">
            <defs>
              <clipPath id="clip-path-the-couple" clipPathUnits="userSpaceOnUse">
                <path d="M122.297,1714.66C65.338,1367.69 62.491,1025.7 121.909,689.455C133.944,621.346 186.621,567.793 254.384,553.949C467.534,510.404 682.471,511.129 899.109,554.011C968.605,567.767 1022.33,623.377 1032.99,693.417C1086.12,1042.51 1089.16,1384.41 1034.8,1718.06C1023.38,1788.14 968.865,1843.46 898.991,1856.1C692.267,1893.49 479.166,1890.66 260.67,1853.8C189.503,1841.8 133.988,1785.88 122.297,1714.66Z" transform="matrix(2.80689e-17,-0.457937,0.4584,2.80405e-17,-239.087,491.927)"></path>
              </clipPath>
            </defs>

            <foreignObject clip-path="url(#clip-path-the-couple)" width="100%" height="100%">
              <img class="couple-image" src="assets/params/images/wedding/phuctram-bg-white-1.jpg" alt="The Couple">
            </foreignObject>
          </svg>

          <!-- SVG Image -->
<!--          <img src="img/shape-particle.svg" alt="" class="shape-particle d-none d-md-block position-absolute start-0 top-0 z-3">-->
          <img height="150" src="assets/params/images/accessory/shape-heart-balloon-mr.svg" alt="" class="shape-heart-balloon mt-4 position-absolute start-0 top-50 translate-middle-y z-2">
          <img height="150" src="assets/params/images/accessory/shape-heart-balloon-mrs.svg" alt="" class="shape-heart-balloon end-0 position-absolute top-50 translate-middle-y z-2">
        </div>
        <!-- //.position-relative -->
      </div>
      <!-- //.col-10 -->

      <div class="col-10 col-md-8 col-lg-5 col-xl-3 text-center">
        <h3 class="font-alt mb-4">Thu Trâm</h3>
        <p class="text-body-secondary pt-4 mt-4">Chào anh, mình cùng hợp tác vui vẻ hạnh phúc nhé.</p>
      </div>
      <!-- //.col-10 -->
    </div>
    <!-- //.row -->
  </div>
  <!-- //.container -->

  <!-- SVG Image -->
  <img src="assets/params/images/accessory/shape-wave-top-left-1.svg" alt="" class="shape-wave-left shape-wave-sm d-none d-lg-block mt-5 position-absolute start-0 top-0 z-1">
  <img src="assets/params/images/accessory/shape-wave-bottom-right-2.svg" alt="" class="shape-wave-right bottom-0 d-none d-lg-block end-0 position-absolute z-1">
</section>
