<div class="wrapper">
  <div class="d-flex flex-column align-items-center title-wrapper">
    <div class="title-top">Save</div>
    <div class="title-bottom">
      Date
      <p class="title-middle">OUR</p>
    </div>
    <div class="title-name">{{isWeddingAtGroom() ? 'THU TRÂM & ĐÌNH PHÚC' : 'ĐÌNH PHÚC & THU TRÂM'}}</div>
    <div class="title-date">NGÀY</div>
    <div class="d-flex align-items-center wrap-name"><p class="title-border">{{weddingInfo()?.weddingDayInWeek}}</p> <p class="wedding-date">{{weddingInfo()?.weddingDay}}</p> <p class="title-border">THÁNG 12</p></div>
    <div class="title-date">2024</div>
    <h5 class="mt-2 font-weight-normal" style="font-weight: 400;">TRÂN TRỌNG KÍNH MỜI</h5>
    <span style="font-family: 'Corinthia', sans-serif; font-size: 30px; font-weight: 600; margin-bottom: -10px;" class="pt-2">Bạn +</span><span class="hr"></span>
  </div>
  <div class="row mt-4 pt-4">
    <div class="left-card col-md-6">
      <div class="d-flex justify-content-between" [ngClass]="isWeddingAtGroom() ? 'flex-row-reverse' : 'flex-row'">
        <div class="parent-info" [ngClass]="isWeddingAtGroom() ? 'text-end' : ''">
          <div>Nhà Gái</div>
          <div>Ông: LÊ NGUYÊN HOÀNG</div>
          <div>Bà: NGUYỄN THỊ LỆ THU</div>
          <div>66/21 Đường 14/9</div>
          <div>P.5 TP Vĩnh Long</div>
        </div>
        <div class="parent-info" [ngClass]="isWeddingAtGroom() ? 'd' : 'text-end'">
          <div>Nhà Trai</div>
          <div>Ông: NGUYỄN ANH PHONG</div>
          <div>Bà: LÝ THỊ THU VÂN</div>
          <div>195/2, Hương Lộ 45, Diên Phú</div>
          <div>Diên Khánh, Khánh Hòa</div>
        </div>
      </div>
      <div class="text-center mt-4">TRÂN TRỌNG BÁO TIN</div>
      <div class="text-center mb-3"><span>{{weddingInfo()?.weddingTitle}}</span> CỦA HAI CON CHÚNG TÔI</div>
      <div class="left-card-name mt-2">Nguyễn Đình Phúc</div>
      <div class="text-center">ÚT NAM <span style="font-family: 'Corinthia', sans-serif; color: #8e7903; font-size: 40px; padding: 0 10px;">&</span> ÚT NỮ</div>
      <div class="left-card-name mb-2">Lê Hoàng Thu Trâm</div>
      <div class="text-center mt-3">HÔN LỄ ĐƯỢC CỬ HÀNH TẠI TƯ GIA</div>
      <div class="text-center">VÀO LÚC</div>
      <div class="left-card-time mt-2">{{weddingInfo()?.weddingCeremonyTime}}</div>
      <div class="text-center font-italic">{{weddingInfo()?.weddingCeremonyLunarTime}}</div>
    </div>
    <div class="right-card col-md-6 d-flex flex-column align-items-center">
      <div class="text-center right-card-title">THIỆP MỜI</div>
      <div class="text-center mt-4 mb-2">TRÂN TRỌNG KÍNH MỜI</div>
      <span style="font-family: 'Corinthia', sans-serif; font-size: 30px; font-weight: 600; margin-bottom: -10px;" class="pt-2">Bạn +</span><span class="hr"></span>
      <div class="text-center mt-3">ĐẾN DỰ BUỔI TIỆC CHUNG VUI</div>
      <div class="text-center">CÙNG GIA ĐÌNH CHÚNG TÔI TẠI:</div>
      <div class="text-center">{{weddingInfo()?.restaurantTitle}}</div>
      <div class="right-card-name mt-2">{{weddingInfo()?.restaurantName}}</div>
      <div class="text-center">{{weddingInfo()?.weddingHall}}</div>
      <div class="text-center">{{weddingInfo()?.restaurantAddress}}</div>
      <div class="text-center">VÀO LÚC</div>
      <div class="left-card-time mt-2">{{weddingInfo()?.weddingPartyTime}}</div>
      <div class="text-center font-italic">{{weddingInfo()?.weddingCeremonyLunarTime}}</div>
      <div class="text-center thank-you-section mt-3">Sự hiện diện của quý khách</div>
      <div class="text-center thank-you-section">là niềm vinh hạnh cho gia đình chúng tôi.</div>
      <div class="text-center thank-you-section">Kính mời!</div>
    </div>
  </div>
</div>
